extends portfolioLayout.pug
block content
  div.headline.clearfix
    div.left
      a(href='/' style='font-size:2.5em;') Ace Hardware
      a(href='/' style='font-size:1.25em;') Atlantic Press

    div.right(style='text-align: right; display: inline-block;')
      a(href='/' style='font-size:2.25em;') Typesetter
    
      a(href='/' style='font-size:1em;') ROP 
      a(href='/' style='font-size:1em;') Indesign
      a(href='/' style='font-size:1em;') Photoshop
      a(href='/' style='font-size:1em;') 

  nav
    a(href='/') projects
    span &nbsp;| &nbsp;
    a(href='/resume') resume
    
  main
    img(src='images/aceHardware/56522_02_QP.png')
    img(src='images//aceHardware/56522_03B_QP.png')
