extends portfolioLayout
block content
  div.headline.clearfix
    div.left
      a(href='/' style='font-size:2.5em;') & Much More
      a(href='/' style='font-size:1.25em;') Capps Digital

    div.right(style='text-align: right; display: inline-block;')
      a(href='/' style='font-size:2.25em;') Design & Production
    
      a(href='/' style='font-size:1em;') Flyer, ROP & Banner
      a(href='/' style='font-size:1em;') Illustrator
      a(href='/' style='font-size:1em;') Photoshop
      a(href='/' style='font-size:1em;') Quark  

  nav
    a(href='/') projects
    span &nbsp;| &nbsp;
    a(href='/resume') resume
    
  main
    img(src='images/andMore/much more.png')
    img(src='images//')
    img(src='images//')
    img(src='images//')
