extends portfolioLayout.pug
block content
  div.headline.clearfix
    div.left
      a(href='/' style='font-size:2.5em;') Chicago Public Schools
      a(href='/' style='font-size:1.25em;') Contact; Araceli Campos

    div.right(style='text-align: right; display: inline-block;')
      a(href='/' style='font-size:2.25em;') Graphic Artist
    
      a(href='/' style='font-size:1em;') Tri-Fold, Poster & Banner
      a(href='/' style='font-size:1em;') Illustrator
      a(href='/' style='font-size:1em;') Photoshop
      a(href='/' style='font-size:1em;') 

  nav
    a(href='/') projects
    span &nbsp;| &nbsp;
    a(href='/resume') resume
    
  main
    img(src='images/chicagoPublicSchools/')
    img(src='images/chicagoPublicSchools/')
    img(src='images/chicagoPublicSchools/')
    img(src='images/chicagoPublicSchools/')
