doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styleResume.css')
    link(rel='stylesheet', href='/stylesheets/gradientstyle.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic" rel="stylesheet")

  body
    div.headline.clearfix
      div.left
        a(href='/' style='font-size:2em;') Julietta Hensgen
        a(href='/' style='font-size:1.25em;') Production Artist/Developer           
        a(href='/' style='font-size:1em;') Adobe CC 
        a(href='/' style='font-size:1em;') InDesign, Illustrator, Photoshop & Quark  
        a(href='/' style='font-size:1em;') HTML, CSS, PHP, JavaScript, AJAX, Bootstrap, MongoDB, Express, Angular, 
        a(href='/' style='font-size:1em;') Apache Cordova, Ionic, jQuery, MySQL and CakePHP

        a(href='/' style='font-size:1em;') juliettaurdiales@yahoo.com or jhensgendesign@gmail.com
        a(href='/' style='font-size:1em;') 773-520-3445



    block content

