extends wslayout

block content
  .flexbox
    .flex-item.l1
      div
        | ACE Hardware
    .flex-item.l2
      div
        | Chicago Public Schools
    .flex-item.l3
      div
        | ALDI Foods
    .flex-item.l4
      div
        | Capps Digital
    .flex-item.l5
      div
        | Seven Wordwide
    .flex-item.l6
      div
        | JHalcomb Advertising
    .flex-item.l7
      div
        | 
  .flexbox
    .flex-item.l8
      div
        | 
    .flex-item.l9
      div
        | 
    .flex-item.l10
    .flex-item.l11
    .flex-item.l12
    .flex-item.l13
    .flex-item.l14
  .flexbox
    .flex-item.l15
    .flex-item.l16
    .flex-item.l17
    .flex-item.l18
    .flex-item.l19
    .flex-item.l20
    .flex-item.l21
  
