extends wslayout

block content
  .flexbox
    .flex-item.l1
      div
        | Some Text Here
    .flex-item.l2
    .flex-item.l3
    .flex-item.l4
    .flex-item.l5
    .flex-item.l6
    .flex-item.l7
  .flexbox
    .flex-item.l8
    .flex-item.l9
    .flex-item.l10
    .flex-item.l11
      div
        | Some Text Here
    .flex-item.l12
    .flex-item.l13
    .flex-item.l14
  .flexbox
    .flex-item
    .flex-item
    .flex-item.l17
    .flex-item
    .flex-item
    .flex-item
    .flex-item
