block content
  doctype html
  html
    head
      link(href="stylesheets/home.css" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=DancingScript" rel="stylesheet")
      title= title
        
  body
    div.headline.clearfix
      div.center
        div.nav
          a(href='/' style='font-size:1em;') design
          a(href='/' style='font-size:1em;') develop      
          a(href='/' style='font-size:1em;') contact
        div
          a(href='/' class='design') Design
      
    main
      img(src='images/landing/landing.png' style='filter: opacity(20%)' width='100%')
