extends wslayout

block content
  .flexbox
    a(href='#').flex-item.l1
      div
        | ACE Hardware
    a(href='#').flex-item.l2
      div
    a(href='#').flex-item.l3
    a(href='#').flex-item.l4
    a(href='#').flex-item.l5
    a(href='jhalcomb').flex-item.l6
      div
        | JHalcomb Advertising
    a(href='#').flex-item.l7
      div
        | Alliance Bakery & Cafe
  .flexbox
    a(href='#').flex-item.l8
      div
        | 
    a(href='#').flex-item.l9
      div
        | Chicago Public Schools
    a(href='#').flex-item.l10
    a(href='#').flex-item.l11
      div
        | Capps Digital
    a(href='#').flex-item.l12
    a(href='#').flex-item.l13
    a(href='#').flex-item.l14
      div
       | 
  .flexbox
    a(href='aldi').flex-item.l15
      div
       | ALDI Foods
    a(href='#').flex-item.l16
    a(href='hallmark').flex-item.l17
      div
       | Hallmark
    a(href='#').flex-item.l18
    a(href='#').flex-item.l19
      div
        | Seven Wordwide
    a(href='#').flex-item.l20
    a(href='spec').flex-item.l21
      div
        | Spec
        
  
