extends wslayout

block content
    
  .clearfix
    .left
      
      p Freelance • 11/2002–Present
      p Alliance Bakery–Graphic Designer 2009
      p Bank One–Graphic Designer 2004
      p BEP–Production Artist 2003
      p Draft–Production Artist 2004
      p Fast Forward–Production Artist 2004
      p Ileo Publicis–Production Artist 2003
      p Kennedy High School–Graphic Designer 2015
      p Laughlin Constable–Production Artist 2003
      p Ogilvy & Mather–Production Artist 2003
      p Technical Skills
      p Photoshop • Illustrator • InDesign • Adobe CC
      p Knowledgeable-Power Point, Word
      p 
         Education
      p American Academy of Art–Chicago
      P Columbia–Chicago
      P
         Volunteer
      P Alexian Brothers Hospital,
      P Feed My Starving Children
      P Kohls Cares
      p Social Media Linked In
      p https://www.linkedin.com/in/julietta-hensgen-72bb195
      p Full-Time–Freelance
      p ALDI Foods • 10/04–03/09 • Graphic Designer
      p • Worked on-sight at an in-house design studio for ALDI foods
      p • Created 4-color in-store Flyers, Inserts, Posters, Award Plaques
      p Newspaper ROPs & Grand Opening Announcements
      p • Photoshop images to create scenes for products being
      p displayed in store
• Worked one-on-one with color separator to resolve
printing concerns
Full-Time
Capps Digital–Publicis • 06/01–10/02 • Graphic Designer
• Created images with Photoshop for Hallmark ads
• Executed Point Of Sale and Direct Mail for Virginia Slims
• Worked on various accounts such as Tampax, Disney
Marlboro, Starbucks and Army
• Functioned in dual capacity due to staffing restrictions
• Created sell sheets for records
• Worked closely with Art Directors through the BCOM 3 transition
Seven World Wide, Inc. • 12/99–06/01 • Production Artist
• Executed Point Of Sale, Direct Mail and National Ads
for Virginia Slims
• Managed yearly Calendar for Virginia Slims, known as
“Book of Days”
• Produced successful new business pitch for L&M cigarettes
• Client list included State Farm, Polaroid, Tampax, Chesterfield
Virginia Slims, L&M and Marlboro

      p
      h4 Education

        p American Academy of Art–Chicago;

        p Columbia–Chicago;


      h4 Certificates
      p Scrum Master 2018
      p Agile Full Stack Web & Hybrid Mobile Application Development 2018
