extends wslayout

block content
    
  .clearfix
    .left
      
      p Bilingual, production artist with experience in InDesign,
      p Illustrator, Quark and Photoshop. Main concentration in print
      p production. Creative self-starter. Web Designer, familiar
      p with HTML, CSS, PHP, JavaScript, AJAX, Bootstrap, MongoDB, 
      P Express, Angular, Apache Cordova, Ionic, jQuery, MySQL 
      p and CakePHP,
      p
      h4 Freelance–Full-Time
      h4 John-Low, Inc.–Graphic Designer, November 2004–March 2009
      li Worked on-sight at an in-house design studio for ALDI foods
      li Designed 4-color in-store Flyers, Inserts, Posters, Award Plaques,
      li Newspaper ROPs & Grand Opening ads
      li Photoshop images to create scenes for products
      li Work one-on-one with color separator for quality assurance

      h4 Freelance
      h4 November 2002–November 2004, Bank One–Graphic Design
      li Ogilvy & Mather–Production Artist | Laughlin Constable– 
      li Production Artist | BEP–Production Artist | Draft–Production Artist
      li Fast Forward–Production Artist, | Ileo Publicis–Production Artist

      h4 Full-Time
      h4 Capps Digital–Publicis, June 2001–November 2002 Production Artist
      li High concentration of Photoshop on Hallmark ads for CVS and Walgreens
      li Executed point of sale and direct mail for Virginia Slims
      li Worked on various accounts such as Tampax, Disney, Marlboro, 
      li Starbucks and Army
      li Functioned in dual capacity due to staffing restrictions
      li Created sell sheets for records
    .right
      h4 Seven World Wide, Inc., December 1999–June 2001 Digital Artist
      li In-house design/production studio for Leo Burnett
      li Executed point of sale, direct mail and national ads for Virginia Slims
      li Produced yearly calendar for Virginia Slims, known as “Book of Days”
      li Produced successful new business pitch for L&M cigarettes
      li Client list included State Farm, Polaroid, Tampax,
      li Chesterfield, Virginia Slims, L&M and Marlboro
      li Worked closely with art directors through the BCOM 3 transition

      p
      h4 Education

        p American Academy of Art–Chicago;

        p Columbia–Chicago;


      h4 Certificates
      p Scrum Master 2018
      p Agile Full Stack Web & Hybrid Mobile Application Development 2018
