extends wslayout

block content
    
  .row
    .col
      hr
      h3 Freelance   
        small(style='font-weight:bold')  • 11/2002–Present
      p BEP–Production Artist 2003
      p Ileo Publicis–Production Artist 2003
      p Laughlin Constable–Production Artist 2003
      p Ogilvy & Mather–Production Artist 2003
      p JPMorgan Chase–Graphic Designer 2004 
      p Draft–Production Artist 2004
      p Fast Forward–Production Artist 2004
      p Alliance Bakery–Graphic Designer 2009
      p Kennedy High School–Graphic Designer 2015
      p www.BabyTotsTraining–Graphic Designer 2018

      p
      h3 Technical Skills
      p Adobe CC - InDesign - Illustrator - Photoshop
      p JavaScript, CSS, HTML, jQuery, Bootstrap,
      p Angular, Apache Cordova
      p LAMP (Linux, Apache, MySQL, PHP) 
      p MEAN (MongoDB, Express, Angular, Node,js)
      p
      h3 Education
      p American Academy of Art–Chicago 
      p Columbia–Chicago
      p Scrum Master 2018
      p Agile Full Stack Web & Hybrid Mobile Application Development 2018
      p
      h3 Volunteer
      p Alexian Brothers Hospital, Kohls Cares, Feed My Starving Children
      p
      h3 Social Media
      p
       a(href="https://www.linkedin.com/in/julietta-hensgen-72bb195") https://www.linkedin.com/in/julietta-hensgen-72bb195
       p
       a(href="https://github.com/julietta007") https://github.com/julietta007
    .col
      hr
      h3 Permanent Freelance
      h4 ALDI Foods • Graphic Designer • 10/2004-3/2009
      p Worked on-sight at an in-house design studio for ALDI foods
      p Created 4-color, in-store Flyers, Inserts, Posters, Award Plaques
      p Newspaper ROPs & Grand Opening Announcements
      p Photoshop images to create scenes for products being displayed in store
      p Worked one-on-one with color separator to resolve printing concerns
      p
      h3 Full-Time
      h4 Capps Digital–Publicis • Production Artist • 6/2001–11/2002
      p High concentration of Photoshop on Hallmark ads for CVS and Walgreens
      p Executed point of sale and direct mail for Virginia Slims
      p Worked on various accounts such as Tampax, Disney, Marlboro, 
      p Starbucks and Army
      p Functioned in dual capacity due to staffing restrictions
      p Created sell sheets for records
      p
      h4 Seven World Wide, Inc., • Digital Artist • 12/1999–6/2001
      p In-house design/production studio for Leo Burnett
      p Executed point of sale, direct mail and national ads for Virginia Slims
      p Produced yearly calendar for Virginia Slims, known as “Book of Days”
      p Produced successful new business pitch for L&M cigarettes
      p Client list included State Farm, Polaroid, Tampax,
      p Chesterfield, Virginia Slims, L&M and Marlboro
      p Worked closely with art directors through the BCOM 3 transition
