doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styleResume.css')
  body
  nav
    a(href='/') about me
    span &nbsp;| &nbsp;
    a(href='/resume') resume
  main
   block content
   
script(defer, src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")
