doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styleResume.css')
    link(rel='stylesheet', href='/stylesheets/gradientstyle.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic" rel="stylesheet")

  body
    div.headline.clearfix
      div.left
        a(href='/', .font-size: 'headline') Julietta Hensgen
        a(href='/') Production Artist/Web Developer
      div.right
        a(href='/') AdobeCC
        a(href='/') InDesign, Illustrator
        a(href='/') Photoshop, Quark     
    div.center   
      a(href='/') Web Designer, familiar with HTML, CSS, PHP, JavaScript, AJAX, Bootstrap, MongoDB, Express, Angular, Apache Cordova, Ionic, jQuery, MySQL and CakePHP

    nav
      a(href='/') about me
      span &nbsp;| &nbsp;
      a(href='/resume') resume
    main
     block content
     
    script(defer, src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")
