doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styleResume.css')
    link(rel='stylesheet', href='/stylesheets/gradientstyle.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic" rel="stylesheet")

  body
    
    a
       link(href='/')
      p Julietta Hensgen
    a 
    link(href='/')
      p Production Artist/Web Developer
    a
       link(href='/')
      p AdobeCC
    a 
    link(href='/') 
      p InDesign, Illustrator
    a
       link(href='/')
      p Photoshop, Quark        
    a 
    link(href='/')
      p Web Designer, familiar with HTML, CSS, PHP, JavaScript, AJAX, Bootstrap,
    MongoDB, Express, Angular, Apache Cordova, Ionic, jQuery, MySQL and CakePHP





    nav
      a(href='/') about me
      span &nbsp;| &nbsp;
      a(href='/resume') resume
    main
     block content
     
    script(defer, src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")
